@model Althus.Evaluaciones.Core.Evaluacion

@{
    ViewBag.Title = "Athus Evaluación Psicolaboral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Evaluación Psicolaboral @Html.ActionLink("Exportar PDF", "ExportarEvaluacionPdf", new { IdEvaluacion = Model.IdEvaluacion }, new { @class = "btn btn-default" })</h4>
                <h5 class="text-right">Confidencial</h5>
            </div>
            <table class="table">
                <tr>
                    <th>
                        Nombre
                    </th>
                    <td>
                        @Model.Evaluado.NombreCompleto
                    </td>
                </tr>
                <tr>
                    <th>
                        Cargo al cual postula
                    </th>
                    <td>
                        @Model.Cargo.Cargo1
                    </td>
                </tr>
                <tr>
                    <th>
                        Empresa
                    </th>
                    <td>
                        @Model.Cargo.Empresa.Empresa1
                    </td>
                </tr>
                <tr>
                    <th>
                        Profesión
                    </th>
                    <td>
                        @Model.Evaluado.Profesion
                    </td>
                </tr>
            </table>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Resumen Estudios y Trayectoria Laboral</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Model.EvaluacionAbiertas.FirstOrDefault(x => x.IdTipoEvaluacionAbierta == TipoEvaluacionAbierta.ResumenEstudiosTrayectoriaLaboral).EvaluacionAbierta1

                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <label>Motivacion Por Cargo</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Model.EvaluacionAbiertas.FirstOrDefault(x => x.IdTipoEvaluacionAbierta == TipoEvaluacionAbierta.MotivacionCargo).EvaluacionAbierta1
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.Label("Competencia")
                    </th>
                    <th>
                        @Html.Label("Valor Esperado")
                    </th>
                    <th>
                        @Html.Label("Valor Obtenido")
                    </th>
                    <th>
                        @Html.Label("Observaciones")
                    </th>
                </tr>
                @{int i = 0;}
                @foreach (var competencia in Model.EvaluacionCompetencias)
                {
                    <tr>
                        <td>
                            <p>@competencia.Competencia.Competencia1</p>
                        </td>
                        <td>
                            <p class="text-center">@competencia.Competencia.ValorEsperado</p>
                        </td>
                        <td>
                            <p class="text-center">@competencia.ValorObtenido</p>
                        </td>
                        <td>
                            @competencia.Observacion
                        </td>
                    </tr>
                }
            </table>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <img src="@Url.Action("GetEvaluacionGrafico",new { IdEvaluacion = Model.IdEvaluacion})" alt="Evaluacion" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <label>Conclusion o Sugerencia</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Model.EvaluacionAbiertas.FirstOrDefault(x => x.IdTipoEvaluacionAbierta == TipoEvaluacionAbierta.ConclusionSugerencias).EvaluacionAbierta1
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        @Html.ActionLink("Exportar PDF", "ExportarEvaluacionPdf", new { IdEvaluacion = Model.IdEvaluacion }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


