<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/myScripts")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {
            $.url = function (url) {
                {
                    var path = '@Request.ApplicationPath'

                    if (path != '/')
                        path = path + '/'

                    return path + url;
                }
            }
        });
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Content("~/")" class="navbar-brand">ALTHUS Partners Evaluación Psicolaboral</a>      
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-right">
                    @if (!User.IsInRole("Evaluacion"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Evaluacion<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Evaluaciones", "ListadoEvaluaciones", "Evaluacion")</li>
                                <li>@Html.ActionLink("Nueva Evaluación", "CrearEvaluado", "Evaluado")</li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Evaluado"))
                    {
                        <li>@Html.ActionLink("Postulantes", "ListadoEvaluado", "Evaluado")</li>
                    }
                    @if (!User.IsInRole("Usuario"))
                    {
                        <li>@Html.ActionLink("Usuarios", "ListarUsuario", "Usuario")</li>
                    }
                </ul>               
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (TempData["Mensaje"] != null)
        {
            <div style="color: white; text-align: center; font-weight: bold; font-size: larger; background-color: #009ce0;" class="fadeout-5">
                @TempData["Mensaje"].ToString()
            </div>
        }
        <br />
        @RenderBody()
        <div class="navbar navbar-default navbar-fixed-bottom" style="margin-bottom:0px;margin-left:0px;margin-right:0px;clear:both;">
            <div class="navbar-inner">
                <div class="container">
                    <p class="navbar-text pull-right">
                        <a class="brand" href="http://www.althuspartners.cl/" target="_blank">
                            <img height="35px" src="@Url.Content("~/Content/images/logo-althus.png")" />
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

  
</body>
</html>
